:root{}

/*
.board {
    display: grid;
    justify-content: center;
    grid-template-rows: 1;
}
*/

.menubar {
    display: flex;
    margin: 3px;
    justify-content: right;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5,auto);
    grid-gap: 5px;
    margin: 3px;
}

.row .tile {
    font-size: 1.1rem;
    line-height: 1rem;
    height: 2rem;
    width: 2rem;
}

.tile {
    display: inline-flex;
    background-color: var(--background);
    color: var(--white);
    border: 2px solid;
    border-color: gray;
    text-transform: uppercase;
    text-align: center;
}

.tile:invalid {
    border: 2px red solid;
    outline: 1px red solid;
}

.hint-0 {
    white-space: pre;
    animation: shake-0 0.12s;
    animation-delay: 0.05s;
    animation-iteration-count: 2;
}
.hint-1 {
    white-space: pre;
    animation: shake-1 0.12s;
    animation-delay: 0.05s;
    animation-iteration-count: 2;
}

@keyframes shake-0 {
    25% {transform: translate(-1px, 0px); }
    75% {transform: translate(1px, 0px); }
}
@keyframes shake-1 {
    25% {transform: translate(-1px, 0px); }
    75% {transform: translate(1px, 0px); }
}

.keybr-row {
    display: flex;
    justify-content: center;
}

.keybr-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 3px;
    color: var(--white);

    user-select: none;
    -webkit-user-select: none;

    font-weight: bold;
    padding: 0.8em 0.8em;
    margin: 6px;

    text-transform: uppercase;
}

.keybr-button:hover {
    outline: #86b7fe 1px solid;
}
.keybr-button:active {
    outline: #5672ae 2px solid;
}